/* Reset */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
@font-face {
    font-family: 'Netflix';
    src: url('NetflixSans-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --white: #ffff;
    --overlay:rgb(0, 0, 0,.6);
    --red : #fd0000;
    --white-opacity: #ffffffa9;
    --whit-acess-code:#ffffff36;
    --black-footer:#000;
}

/* Body */

body{
    height: 100vh;
    width: 100%;
    background-image: url(../Assets/background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: 'Netflix', Arial, Helvetica, sans-serif;
    position: relative;
}

body::before{
    content: '';
    background-color: var(--overlay);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

/* LOGO */

.logo img{
    width: 164px;
    padding-left: 5px;
    margin-left: 11%;
}

/* HEADER */
header{
    padding: 18px;
    position: relative;
    z-index: 10;
}

/* SECTION LOGIN */
.section-login{
    display: flex;
    justify-content: center;
    align-self: center;
    
}

.Entrar{
    color: var(--white);
    font-size: 1.4em;
    margin-left: 12%;
    margin-top: 3.5em;
}

.container input{
    padding: 1em;
    margin: 10px;
    background: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 19%;
    width: 20em;
    max-width: 19em;
    border: 1px solid #333;
}

.container input::placeholder{
    color: var(--white-opacity);
    
}

.btn-entrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-entrar button{
    padding: 8px;
    margin: 10px;
    width: 23.7em;
    margin-left: 19%;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

span.ou{
    margin: 10px;
    font-weight: bold;
    color: var(--white-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 19%;
}


.btn-cdg-acesso button{
    padding: 8px;
    margin: 10px;
    width: 19em;
    margin-left: 19%;
    background-color: var(--whit-acess-code);
    color: var(--white);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 1em;
}

.container{
    /* padding-top: 1em; */
    z-index: 90;
    position: relative;
    max-width: 440px;
    height: 45em;
    background-color: rgb(0, 0, 0,.75);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;  
}

span.forget a{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 19%;
    margin-bottom: 15px;
    
}

span.forget a:hover{
    text-decoration: underline;
    color: var(--white-opacity);
}

.suport .remember{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -72%;
}


.suport label{
    margin-left: -11%;
    color: var(--white);
    font-weight: bold;
}

.novo-aqui{
    margin: 1em;
    color: var(--white-opacity);
    font-size: 11px;
    margin-left: 6.6em;
}

.novo-aqui a{
    text-decoration: none;
    color: var(--white);
}

.novo-aqui a:hover{

    text-decoration: underline;
}

.footer-form{
    color: var(--white-opacity);
    font-size: 11.2px;
    text-align: center;
    margin: 2em;
    margin-left: 4em;
    
}

.login-box{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: -13em;
}


/* FOOTER */


.overlay-footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgb(0, 0, 0) 20%);
    display: flex;
    height: 33%;
    padding: 1em;
    z-index: 91;
    margin-top: 3em;
    
}
.container-footer{
    margin: 6em;
    z-index: 90;
    margin-left: 13em;
    
}

.footer h2{
    color: var(--white-opacity);
    font-size: 17px;
    margin-left: -1em;
    margin-top: -3em;
}

.footer a{
    text-decoration: none;
    color: var(--white);
}

.links {
    color: var(--white-opacity);
    margin: 13px;
    margin-left: -2em;
    
}

.links ul{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

.links-itens li{
    padding: 1em;
    margin-right: 9em;
}

.links-itens a{
    color:  var(--white-opacity);
    font-size: 14px ;
    font-weight: bold;
}

.languages{
    padding: 10px;
    margin-left: -2em;
    margin-top: -3em;
}

.languages select{
    background:rgba(22, 22, 22, 0.7);
    color: var(--white);
    width: 9em;
    height: 2.3em;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

select option{
    background-color: var(--white);
    color: var(--black-footer);
    font-weight: bold;
}








